.pricing-container {
    top: 0px;
  left: 0px;
  width: 1350px;
  height: 1890px;
  background: #191919 0% 0% no-repeat padding-box;
  opacity: 1;
  }

  .header-text {
    top: 50px;
    left: 183px;
    position: absolute;
    width: 957px;
    height: 88px;
    text-align: left;
    font: normal normal bold 50px/40px Helvetica Neue;
    letter-spacing: 5.4px;
    color: #FFFFFF;
    opacity: 1;
  }

  .text {
    top: 180px;
    left: 183px;
    position: absolute;
    width: 850px;
    height: 100px;
    text-align: left;
    font: normal normal normal 30px/45px Helvetica Neue;
    letter-spacing: 3.8px;
    color: #FFFFFF;
    opacity: 1;
  }

  .BM {
    top: 378px;
    left: 188px;
    position: absolute;
    width: 146px;
    height: 50px;
    text-align: left;
    font: normal normal bold 42px/51px Helvetica Neue;
    letter-spacing: 4.2px;
    color: #D24848;
    opacity: 1;
  }

  .hr {
    top: 460px;
    left: 193px;
    width: 141px;
    height: 0px;
    border: 1px solid #D14747;
    opacity: 1;
    position: absolute;
  }

  .amt {
    top: 400px;
    left: 199px;
    position: absolute;
    width: 162px;
    height: 160px;
    text-align: left;
    font: normal normal bold 100px/164px Helvetica Neue;
    letter-spacing: 13.4px;
    color: #D24848;
    opacity: 1;
  }

  .para {
    top: 637px;
    left: 188px;
    position: absolute;
    width: 297px;
    height: 375px;
    text-align: left;
    font: normal normal normal 47px/64px Helvetica Neue;
    letter-spacing: 4.7px;
    color: #FFFFFF;
    opacity: 1;
  }

  .select-btn {
    top: 1100px;
left: 188px;
position: absolute;
width: 300px;
height: 84px;
background: #D24848 0% 0% no-repeat padding-box;
border-radius: 79px;
opacity: 1;
  }

  .select-txt {
    margin-top: 25px;
margin-left: 90px;
position: absolute;
width: 105px;
height: 28px;
text-align: left;
font: normal normal bold 24px/29px Helvetica Neue;
letter-spacing: 2.4px;
color: #FFFFFF;
opacity: 1;
  }

  