body {
  cursor:none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  margin-bottom: 15px;
  position: relative;
}
h1 {
  display:inline-block;
  margin-left:400px;
  margin-top: 150px;
  background: radial-gradient(circle at var(--x,-40px) var(--y,-40px), #fff 20px,black 21px);
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
  -webkit-text-fill-color: transparent;

}
.cursor {
  position:absolute;
  width:40px;
  height:40px;
  background:#000;
  border-radius:50%;
  top:-40px;
  left:-40px;
  z-index:-2;
}

.y-container {
    top: 1340px;
left: -0.000274658203125px;
width: 1350px;
position: absolute;
height: 680px;
background: #FFB33F 0% 0% no-repeat padding-box;
opacity: 1;
}

.try-btn1 {
    margin-top: 50px;  
left:1040px;
position: absolute;
width: 248px;
height: 62px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 79px;
opacity: 1;
text-decoration: none;
}

.try-text1{
    margin-top: 20px;
margin-left: 60px;
width: 122px;
height: 22px;
text-align: left;
font: normal normal bold 17px/23px Helvetica Neue;
letter-spacing: 1.8px;
color: #FFB33F;
opacity: 1;
}

/* .y-header-text  {
    margin-top: 210px;
margin-left: 600px;
position: absolute;
width: 814px;
height: 88px;
text-align: left;
font: normal normal bold 50px/90px Helvetica Neue;
letter-spacing: 7.4px;
color: #FFFFFF;
opacity: 1;
} */

/* .y-text {
    margin-top: 325px;
margin-left: 600px;
position: absolute;
width: 679px;
height: 121px;
text-align: left;
font: normal normal normal 35px/40px Helvetica Neue;
letter-spacing: 5.1px;
color: #191919;
opacity: 1;
} */

.demo-btn1 {
    margin-top: -50px;
margin-left: 400px;
position: absolute;
position: absolute;
width: 338px;
height: 81px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 79px;
opacity: 1;
}

.demo-txt1 {
    margin-top: -15px;
margin-left: 95px;
position: absolute;
width: 138px;
height: 27px;
text-align: left;
font: normal normal bold 20px/28px Helvetica Neue;
letter-spacing: 2.3px;
color:#FFB33F;
opacity: 1;
}


