.img {
  top: 0px;
left: 0px;
width: 1350px;
height: 550px;
background: #0000005C 0% 0% no-repeat padding-box;
opacity: 1;
}

.sliderimg{
  width: 1350px;
  height: 550px;
  object-fit: cover;
}





